@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}

 

* {
    font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6,
p, span, a, li, ul, ol, blockquote, pre, code,
label, input, textarea, button, th, td, div, strong, em, b, i, small, sub, sup {
  font-family: 'Mulish', sans-serif !important;
}